{
	"debug" : 0,
	"skip" : {
		"yield" : {
			"E" : 1500,
			"other" : 150
		},
		"hours" : 120,
		"funding" : 1
	},
	"url": "https://btcjam.com/users/sign_in?landing_page=mixed",
	"user" : "@gmail.com",
	"password" : "",
	"pushbullet" : {
		"email": "@gmail.com",
		"api_key" : ""
	}
}
